In [21]:
#pip install geopandas
import geopandas as gpd
import json
import pathlib
import urllib.parse

import geoalchemy2 as gdb
import matplotlib.pyplot as plt
import pandas as pd
import requests
import shapely
import sqlalchemy as db

from sqlalchemy.orm import declarative_base
from shapely import wkt
import warnings
warnings.filterwarnings("ignore")

In [ ]:
##downloading and reading files(when downloading 311, we use filter to only keep these columns:
#latitude,longitude,incident_zip,created_date,location,complaint_type)
#read 311
#read tree
#read zipcode
#raed zillow
#clean zipcode,zillow,tree,311
#

In [4]:
#file_311=gpd.read_file('data/resource/nyc_311_data.geojson')

In [10]:
file_311.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 24336507 entries, 0 to 24336506
Data columns (total 6 columns):
 #   Column          Dtype
---  ------          -----
 0   latitude        object
 1   created_date    datetime64[ns]
 2   longitude       object
 3   incident_zip    object
 4   complaint_type  object
 5   geometry        geometry
dtypes: datetime64[ns](1), geometry(1), object(4)
memory usage: 1.1+ GB

In [11]:
#downloading the tree file
def download_nyc_geojson_data(url, token, force=False):
    parsed_url = urllib.parse.urlparse(url)
    url_path = parsed_url.path.strip("/")
    
    filename = pathlib.Path("data") / url_path

    # Create directories if they don't exist
    filename.parent.mkdir(parents=True, exist_ok=True)
    
    if force or not filename.exists():
        print(f"Downloading {url} to {filename}...")
        
        # Set the initial offset
        offset = 0
        limit = 5000000
        
        while True:
            # Include the $limit and $offset parameters in the URL
            query = f"$limit={limit}&$offset={offset}"
            full_url = f"{url}?$$app_token={token}&{query}"

            # Make the request
            response = requests.get(full_url)
            
            # Print debugging information
            print(f"Response status code: {response.status_code}")
            print(f"Response content: {response.text}")

            # Check if the response is not empty
            if response.text:
                try:
                    # Attempt to parse JSON
                    json_data = response.json()
                    with open(filename, "a") as f:  # Append to the file instead of overwriting
                        json.dump(json_data, f)
                    print(f"Downloaded {len(json_data)} records from {url}.")
                    
                    # Check if there are more records
                    if len(json_data) < limit:
                        break
                except json.JSONDecodeError as e:
                    print(f"Error decoding JSON from {url}: {e}")
            else:
                print(f"Empty response received from {url}.")

            # Update the offset for the next page
            offset += limit

    else:
        print(f"Reading from {filename}...")

    return filename

# Set the URL and token
url = "https://data.cityofnewyork.us/resource/5rq2-4hqu.geojson"

token = 'RQR8YRHhtzFqpNTQhQHZDzQUI'
geojson_file_tree = download_nyc_geojson_data(url, token)

Downloading https://data.cityofnewyork.us/resource/5rq2-4hqu.geojson to data/resource/5rq2-4hqu.geojson...
Response status code: 200

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

Downloaded 3 records from https://data.cityofnewyork.us/resource/5rq2-4hqu.geojson.

In [14]:
file_tree=gpd.read_file(geojson_file_tree)

In [17]:
file_zipcode=gpd.read_file('data/nyc_zipcodes.shp')

In [18]:
file_zillow=pd.read_csv('data/zillow_rent_data.csv')

In [19]:
file_311.head()

,latitude,created_date,longitude,incident_zip,complaint_type,geometry
0,40.655672001198894,2023-09-30 23:59:58,-73.95917686020623,11226,Noise - Street/Sidewalk,POINT (-73.95918 40.65567)
1,40.76675595839554,2023-09-30 23:59:38,-73.78751847563191,11361,Noise - Residential,POINT (-73.78752 40.76676)
2,40.71949965458691,2023-09-30 23:59:35,-73.98486650733275,10002,Noise - Commercial,POINT (-73.98487 40.71950)
3,40.687499303408536,2023-09-30 23:59:34,-73.7972903094197,11435,Noise - Residential,POINT (-73.79729 40.68750)
4,40.65220215349917,2023-09-30 23:59:28,-73.9579464603267,11226,Noise - Residential,POINT (-73.95795 40.65220)

In [ ]:
#clean zipcode first
#clean zillow
#clean tree
#clean 311

In [51]:
##clean zipcode

#step1-keep useful columns
zipcode_keep_2=file_zipcode[['ZIPCODE','geometry']]

#There is no na in zipcode file


#drop duplicates
zipcode_dropduplicates_3=zipcode_keep_2.drop_duplicates(subset='ZIPCODE')

#step2-adjust srid
#use the “center” of the zones (polygons) as a point to look up the coordinates
cleaned_zipcode = zipcode_dropduplicates_3.to_crs(4326)
cleaned_zipcode['longitude'] = cleaned_zipcode.centroid.x  
cleaned_zipcode['latitude'] = cleaned_zipcode.centroid.y
cleaned_zipcode.head()

,ZIPCODE,geometry,longitude,latitude
0,11436,"POLYGON ((-73.80585 40.68291, -73.80569 40.682...",-73.796503,40.675872
1,11213,"POLYGON ((-73.93740 40.67973, -73.93487 40.679...",-73.936327,40.671156
2,11212,"POLYGON ((-73.90294 40.67084, -73.90223 40.668...",-73.913077,40.662813
3,11225,"POLYGON ((-73.95797 40.67066, -73.95576 40.670...",-73.953960,40.663115
4,11218,"POLYGON ((-73.97208 40.65060, -73.97192 40.650...",-73.976451,40.643320

In [52]:
cleaned_zipcode.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Index: 248 entries, 0 to 262
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ZIPCODE    248 non-null    object
 1   geometry   248 non-null    geometry
 2   longitude  248 non-null    float64
 3   latitude   248 non-null    float64
dtypes: float64(2), geometry(1), object(1)
memory usage: 9.7+ KB

In [68]:

#step1-Rename 'RegionID' to 'ZIPCODE'
df_zillow_data_1 = file_zillow.rename(columns={'RegionName': 'ZIPCODE'})
#keep useful columns
keep_column_zillow_2 = df_zillow_data_1[['ZIPCODE','2023-01-31','2023-08-31','2023-09-30']].rename(columns={'2023-01-31':'date_2023_01','2023-08-31':'date_2023_08','2023-09-30':'date_2023_09'})
#fill na value with 0
fillna0_zillow_3=keep_column_zillow_2.fillna(0)
#filter only the nyc zipcode
cleaned_zillow=fillna0_zillow_3[fillna0_zillow_3['ZIPCODE'].astype(str).isin(cleaned_zipcode['ZIPCODE'].astype(str))]
#drop duplicates
cleaned_zillow.drop_duplicates(subset=['ZIPCODE'], inplace=True)

In [71]:
df_zillow_data_1.head()

,RegionID,SizeRank,ZIPCODE,RegionType,StateName,State,City,Metro,CountyName,2015-01-31,...,2022-12-31,2023-01-31,2023-02-28,2023-03-31,2023-04-30,2023-05-31,2023-06-30,2023-07-31,2023-08-31,2023-09-30
0,91982,1,77494,zip,TX,TX,Katy,"Houston-The Woodlands-Sugar Land, TX",Fort Bend County,1606.206406,...,1994.653463,2027.438438,2042.237444,2049.325559,2016.531345,2023.438976,2031.558202,2046.144009,2053.486247,2055.771355
1,91940,3,77449,zip,TX,TX,Katy,"Houston-The Woodlands-Sugar Land, TX",Harris County,1257.814660,...,1749.697900,1738.217986,1747.305840,1758.407295,1758.891075,1762.980879,1771.751591,1779.338402,1795.384582,1799.631140
2,91733,5,77084,zip,TX,TX,Houston,"Houston-The Woodlands-Sugar Land, TX",Harris County,NaN,...,1701.217520,1706.900064,1706.067787,1723.722320,1735.484670,1752.132904,1756.990323,1754.429516,1757.602011,1755.031490
3,93144,6,79936,zip,TX,TX,El Paso,"El Paso, TX",El Paso County,NaN,...,1419.480272,1458.063897,1471.726681,1466.734658,1456.175660,1462.478506,1466.267391,1490.237063,1488.180414,1494.366097
4,62093,7,11385,zip,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,NaN,...,2935.808220,2895.699421,2873.209025,2881.906361,2913.546218,2963.964134,3005.735342,3034.413822,3064.476503,3079.585783

In [69]:
cleaned_zillow.head()

    ZIPCODE  date_2023_01  date_2023_08  date_2023_09
4     11385   2895.699421   3064.476503   3079.585783
6     11208   2588.030194   2737.547470   2728.733333
12    11236      0.000000   2285.460026   2362.500000
13    10467   2155.617718   2353.686402   2423.888889
14    11373   2255.604528   2302.557354   2292.994444

In [58]:
cleaned_zillow.info()

<class 'pandas.core.frame.DataFrame'>
Index: 146 entries, 4 to 6721
Columns: 106 entries, ZIPCODE to 2023-09-30
dtypes: float64(105), int64(1)
memory usage: 122.0 KB

In [41]:
##clean tree(no duplicates in tree)
#rename zipcode to ZIPCODE, spc_common to species
tree_columns_tokeep=file_tree[['tree_id','latitude','longitude','spc_common','zipcode','health','status','geometry']].rename(columns={'zipcode': 'ZIPCODE','spc_common':'species'})
cleaned_tree=tree_columns_tokeep.dropna()

In [46]:
cleaned_tree.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Index: 652167 entries, 0 to 683787
Data columns (total 8 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   tree_id    652167 non-null  object
 1   latitude   652167 non-null  object
 2   longitude  652167 non-null  object
 3   species    652167 non-null  object
 4   ZIPCODE    652167 non-null  object
 5   health     652167 non-null  object
 6   status     652167 non-null  object
 7   geometry   652167 non-null  geometry
dtypes: geometry(1), object(7)
memory usage: 44.8+ MB

In [66]:
cleaned_tree.head()

,tree_id,latitude,longitude,species,ZIPCODE,health,status,geometry
0,180683,40.72309177,-73.84421522,red maple,11375,Fair,Alive,POINT (-73.84422 40.72309)
1,200540,40.79411067,-73.81867946,pin oak,11357,Fair,Alive,POINT (-73.81868 40.79411)
2,204026,40.71758074,-73.9366077,honeylocust,11211,Good,Alive,POINT (-73.93661 40.71758)
3,204337,40.71353749,-73.93445616,honeylocust,11211,Good,Alive,POINT (-73.93446 40.71354)
4,189565,40.66677776,-73.97597938,American linden,11215,Good,Alive,POINT (-73.97598 40.66678)

In [43]:
##clean 311
file_311.head()

,latitude,created_date,longitude,incident_zip,complaint_type,geometry
0,40.655672001198894,2023-09-30 23:59:58,-73.95917686020623,11226,Noise - Street/Sidewalk,POINT (-73.95918 40.65567)
1,40.76675595839554,2023-09-30 23:59:38,-73.78751847563191,11361,Noise - Residential,POINT (-73.78752 40.76676)
2,40.71949965458691,2023-09-30 23:59:35,-73.98486650733275,10002,Noise - Commercial,POINT (-73.98487 40.71950)
3,40.687499303408536,2023-09-30 23:59:34,-73.7972903094197,11435,Noise - Residential,POINT (-73.79729 40.68750)
4,40.65220215349917,2023-09-30 23:59:28,-73.9579464603267,11226,Noise - Residential,POINT (-73.95795 40.65220)

In [59]:
#dropna_311=file_311.dropna()
rename_311 = file_311.rename(columns={'incident_zip': 'ZIPCODE'})
dropduplicate_311=rename_311.drop_duplicates()
#filter only the nyc zipcode
cleaned_311=dropduplicate_311[dropduplicate_311['ZIPCODE'].astype(str).isin(cleaned_zipcode['ZIPCODE'].astype(str))]
cleaned_311.head()

,latitude,created_date,longitude,ZIPCODE,complaint_type,geometry
0,40.655672001198894,2023-09-30 23:59:58,-73.95917686020623,11226,Noise - Street/Sidewalk,POINT (-73.95918 40.65567)
1,40.76675595839554,2023-09-30 23:59:38,-73.78751847563191,11361,Noise - Residential,POINT (-73.78752 40.76676)
2,40.71949965458691,2023-09-30 23:59:35,-73.98486650733275,10002,Noise - Commercial,POINT (-73.98487 40.71950)
3,40.687499303408536,2023-09-30 23:59:34,-73.7972903094197,11435,Noise - Residential,POINT (-73.79729 40.68750)
4,40.65220215349917,2023-09-30 23:59:28,-73.9579464603267,11226,Noise - Residential,POINT (-73.95795 40.65220)

In [62]:
cleaned_311=cleaned_311.dropna()

In [65]:
cleaned_311.head()

,latitude,created_date,longitude,ZIPCODE,complaint_type,geometry
0,40.655672001198894,2023-09-30 23:59:58,-73.95917686020623,11226,Noise - Street/Sidewalk,POINT (-73.95918 40.65567)
1,40.76675595839554,2023-09-30 23:59:38,-73.78751847563191,11361,Noise - Residential,POINT (-73.78752 40.76676)
2,40.71949965458691,2023-09-30 23:59:35,-73.98486650733275,10002,Noise - Commercial,POINT (-73.98487 40.71950)
3,40.687499303408536,2023-09-30 23:59:34,-73.7972903094197,11435,Noise - Residential,POINT (-73.79729 40.68750)
4,40.65220215349917,2023-09-30 23:59:28,-73.9579464603267,11226,Noise - Residential,POINT (-73.95795 40.65220)

In [64]:
##create database
!/Applications/Postgres.app/Contents/Versions/latest/bin/createdb FinalProject4501
!/Applications/Postgres.app/Contents/Versions/latest/bin/psql --dbname FinalProject4501 -c 'CREATE EXTENSION postgis;'

CREATE EXTENSION

In [80]:
!pip install geoalchemy2

Requirement already satisfied: geoalchemy2 in /Users/tang/anaconda3/lib/python3.11/site-packages (0.14.2)
Requirement already satisfied: SQLAlchemy>=1.4 in /Users/tang/anaconda3/lib/python3.11/site-packages (from geoalchemy2) (1.4.39)
Requirement already satisfied: packaging in /Users/tang/anaconda3/lib/python3.11/site-packages (from geoalchemy2) (23.1)
Requirement already satisfied: greenlet!=0.4.17 in /Users/tang/anaconda3/lib/python3.11/site-packages (from SQLAlchemy>=1.4->geoalchemy2) (2.0.1)

In [82]:
from geoalchemy2 import Geometry
import psycopg2
from sqlalchemy import create_engine, Column, Integer, Float, String, DateTime


engine = sqlalchemy.create_engine('postgresql://localhost/FinalProject4501')

Base = declarative_base()

# Define classes for each dataset
class Three11(Base):
    __tablename__ = 'three11'
    id = Column(Integer, primary_key=True)
    created_date = Column(DateTime)
    latitude = Column(Float)
    longitude = Column(Float)
    ZIPCODE = Column(String)
    complaint_type = Column(String)
    geometry = Column(Geometry('POINT', srid=4326))

class Tree(Base):
    __tablename__ = 'tree'
    id = Column(Integer, primary_key=True)
    ZIPCODE = Column(String)
    tree_id = Column(Integer)
    latitude = Column(Float)
    longitude = Column(Float)
    health = Column(String)
    status = Column(String)
    species = Column(String)
    geometry = Column(Geometry('POINT', srid=4326))

class Zillow(Base):
    __tablename__ = 'zillow'
    id = Column(Integer, primary_key=True)
    date_2023_01 = Column(Float)
    date_2023_08 = Column(Float)
    date_2023_09 = Column(Float)
    ZIPCODE = Column(String)

class Zipcode(Base):
    __tablename__ = 'zipcode'
    id = Column(Integer, primary_key=True)
    latitude = Column(Float)
    longitude = Column(Float)
    zipcode = Column(String)
    geometry = Column(Geometry('POLYGON', srid=4326))
    
# Create the tables in the database
Base.metadata.create_all(engine)

In [83]:
def safe_loads(wkt):
    try:
        return loads(wkt) if wkt else None
    except:
        return None

# Convert WKT strings to Geometry objects
cleaned_tree['geometry'] = cleaned_tree['geometry'].apply(safe_loads)

# Now, you can safely apply dumps to convert Geometry objects to WKT strings
cleaned_tree['geometry'] = cleaned_tree['geometry'].apply(lambda x: x.wkt if x else None)

# Convert WKT strings to Geometry objects
cleaned_zipcode['geometry'] = cleaned_zipcode['geometry'].apply(safe_loads)

# Now, you can safely apply dumps to convert Geometry objects to WKT strings
cleaned_zipcode['geometry'] = cleaned_zipcode['geometry'].apply(lambda x: x.wkt if x else None)

# Convert WKT strings to Geometry objects
cleaned_311['geometry'] = cleaned_311['geometry'].apply(safe_loads)

# Now, you can safely apply dumps to convert Geometry objects to WKT strings
cleaned_311['geometry'] = cleaned_311['geometry'].apply(lambda x: x.wkt if x else None)

In [84]:
# Upload to SQL
cleaned_311.to_sql('three11', con=engine, if_exists='replace', index=False)

# Upload 'tree_df' to 'tree' table
cleaned_tree.to_sql('tree', con=engine, if_exists='replace', index=False)

# Upload 'zillow_df' to 'zillow' table
cleaned_zillow.to_sql('zillow', con=engine, if_exists='replace', index=False)

# Upload 'zipcode_df' to 'zipcode' table
cleaned_zipcode.to_sql('zipcode', con=engine, if_exists='replace', index=False)

248